{% extends "base.html" %}

{% block learn %}

<div class="container-fluid bg-secondary my-5">
    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid w-100" src="/static/img/feature.jpg" alt="">
                </div>
                <div class="col-lg-7 py-5 py-lg-0">
                    <h6 class="text-primary text-uppercase font-weight-bold">Why Choose Us</h6>
                    <h1 class="mb-4">Welcome To Exportza</h1>
                    <p class="mb-4" align="justify">1. Global Reach: We have established a robust network of international partners, ensuring that your products can easily reach markets worldwide.<br><br>

                        2. Expertise & Experience: With years of experience in the import/export industry, our team is equipped with the knowledge and insights to handle even the most complex logistics challenges.<br><br>
                        
                        3. Customized Solutions: We offer personalized services tailored to your business needs, ensuring that your goods are delivered on time and within budget.<br><br>
                        
                        4. Competitive Pricing: Our pricing structure is designed to be cost-effective while maintaining the highest quality of service.</p>
                    </div>
                </div>
            </div>
    </div>
    
{% endblock %}